body {
	background-image: url(assets/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Nerko One', cursive;
}

body h1 {
	font-size: 3.5em;
	color: rgb(176, 255, 73);
	text-align: center;
	margin: 0px;
}

.gameContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
img {
	width: 35%;
	height: auto;
}

.letter-topGrid,
.letter-bottomGrid {
	display: flex;
	flex: row;
}

.letters {
	background-color: rgb(119, 48, 140);
	border: 6px solid rgb(80, 104, 192);
	margin: 2px;
	height: 3vh;
	padding: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(119, 192, 248);
	font-size: 2.5em;
}

.clicked {
	background-color: rgb(176, 255, 73);
}

.wordGuess {
	display: flex;
	flex-direction: row;
}
.incorrect {
	background-color: rgb(200, 25, 23);
}
.dashes {
	width: 60px;
	height: 60px;
	background-color: rgb(80, 104, 192);
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2.5em;
}

.modal {
	background-color: black;
	position: fixed;
	bottom: 10%;
	display: none;
	width: 100%;
	height: 40%;
	display: flex, none;
	direction: column;
	justify-content: center;
	align-items: center;
}

.winModalContent {
	border-radius: 10px;
	padding: 20px;
	margin: 150px auto;
	line-height: 130%;
	height: 200px;
	width: 550px;
	/* border: solid cyan; */
}

.loseModalContent {
	border-radius: 10px;
	padding: 20px;
}

.rightflex {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.triesLeftBoard {
	font-size: 2.5em;
	margin: 0px;
	color: rgb(96, 30, 117);
}

.bottomContainer {
	padding-top: 10px;
}

.playAgainBtn {
	position: center;
	background-image: linear-gradient(
		92.88deg,
		#455eb5 9.16%,
		#5643cc 43.89%,
		#673fd7 64.72%
	);
	border-radius: 8px;
	border-style: none;
	font-size: 1.5em;
	color: white;
	font-weight: 500;
	height: 3rem;
	padding: 0 1.6rem;
	text-align: center;
	font-family: 'Nerko One', cursive;
}

.resetBtn {
	position: center;
	background-image: linear-gradient(
		92.88deg,
		#455eb5 9.16%,
		#5643cc 43.89%,
		#673fd7 64.72%
	);
	border-radius: 8px;
	border-style: none;
	font-size: 1.5em;
	color: white;
	font-weight: 500;
	height: 3rem;
	padding: 0 1.6rem;
	text-align: center;
	font-family: 'Nerko One', cursive;
}
