body {
	background-image: url(assets/background.png);
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	width: 40%;
	height: auto;
}


.letter-topGrid,
.letter-bottomGrid {
	display: flex;
	flex: row;
}

.letters {
	background-color: yellowgreen;
	border: 1px solid black;
	margin: 2px;
	height: 3vh;
	padding: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clicked {
	background-color: aqua;
	border: 1px solid red;
}

.wordGuess {
	display: flex;
	flex-direction: row;
	
}
.incorrect {
	background-color: darkviolet;

}
.dashes {
	width: 60px;
	height: 60px;
	background-color: red;
	border: 2px;
	margin: 5px;
	color: cornflowerblue;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
